type project
licenseExpression https://github.com/cmeeren/Feliz.MaterialUI/blob/master/LICENSE
projectUrl https://github.com/cmeeren/Feliz.MaterialUI
tags
  f# fable bindings feliz react material-ui materialui feliz-viewengine
dependencies
  FSharp.Core ~> LOCKEDVERSION
  Feliz.ViewEngine ~> LOCKEDVERSION
files
  *.fsproj ==> fable
  *.fs ==> fable
